<div li-block="gb-row-x10">
  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a1 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b1 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c1 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a1 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b2 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c2 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a3 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b3 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c3 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a4 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b4 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c4 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a5 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b5 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c5 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a6 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b6 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c6 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a7 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b7 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c7 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a8 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b8 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c8 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a9 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b9 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c9 }}
    </p>
  </div>

  <div class="cell-grid-2">
    <p class="mono cell">
      {{ block.settings.text_a10 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_b10 }}
    </p>
    <p class="mono cell">
      {{ block.settings.text_c10 }}
    </p>
  </div>
</div>
{% schema %} {"name":"gb-row-x10","settings":[{"id":"text_a1","type":"text","label":"a,1","default":"Name"},{"id":"text_b1","type":"text","label":"b,1","default":"Function"},{"id":"text_c1","type":"text","label":"c,1","default":"Duration"},{"id":"text_b2","type":"text","label":"b,2","default":"Function"},{"id":"text_c2","type":"text","label":"c,2","default":"Duration"},{"id":"text_a3","type":"text","label":"a,3","default":"Name"},{"id":"text_b3","type":"text","label":"b,3","default":"Function"},{"id":"text_c3","type":"text","label":"c,3","default":"Duration"},{"id":"text_a4","type":"text","label":"a,4","default":"Name"},{"id":"text_b4","type":"text","label":"b,4","default":"Function"},{"id":"text_c4","type":"text","label":"c,4","default":"Duration"},{"id":"text_a5","type":"text","label":"a,5","default":"Name"},{"id":"text_b5","type":"text","label":"b,5","default":"Function"},{"id":"text_c5","type":"text","label":"c,5","default":"Duration"},{"id":"text_a6","type":"text","label":"a,6","default":"Name"},{"id":"text_b6","type":"text","label":"b,6","default":"Function"},{"id":"text_c6","type":"text","label":"c,6","default":"Duration"},{"id":"text_a7","type":"text","label":"a,7","default":"Name"},{"id":"text_b7","type":"text","label":"b,7","default":"Function"},{"id":"text_c7","type":"text","label":"c,7","default":"Duration"},{"id":"text_a8","type":"text","label":"a,8","default":"Name"},{"id":"text_b8","type":"text","label":"b,8","default":"Function"},{"id":"text_c8","type":"text","label":"c,8","default":"Duration"},{"id":"text_a9","type":"text","label":"a,9","default":"Name"},{"id":"text_b9","type":"text","label":"b,9","default":"Function"},{"id":"text_c9","type":"text","label":"c,9","default":"Duration"},{"id":"text_a10","type":"text","label":"a,10","default":"Name"},{"id":"text_b10","type":"text","label":"b,10","default":"Function"},{"id":"text_c10","type":"text","label":"c,10","default":"Duration"}],"presets":[{"name":"gb-row-x10"}]} {% endschema %}
