<div class="h3"> {{ section.settings.textarea_page_title }} </div>
<h1 text="" class="h1"> {{ section.settings.textarea_text }} </h1>
<div class="line dark"></div><h2 class="h1"> {{ section.settings.textarea_contact_email }} </h2>
<div class="spacer"></div><div class="h3">Follow or DM us</div><div class="footer-nav-list">{% for link in linklists[section.settings.socials_menu].links %}    <div li-for="link in linklists[section.settings.socials_menu].links" class="footer-nav-list-item">
                                    
                            <a li-object:href="link.url" li-object="link.title" href="{{ link.url }}" class="h3">{{ link.title }}</a>
                            
                        </div>
{% endfor %}</div><div class="w-embed"></div>
 {% schema %} {"tag":"section","name":"gb-contact","class":"section contact","settings":[{"id":"textarea_page_title","type":"textarea","label":"page-title","default":"Contact"},{"id":"textarea_text","type":"textarea","label":"text","default":"Have a question or want to learn more about our products? We'd love to hear from you! reach out to us using any of the methods below."},{"id":"textarea_contact_email","type":"textarea","label":"contact-email","default":"info@gridbase.net"},{"type":"link_list","id":"socials_menu","label":"Socials","default":"footer"}],"presets":[{"name":"gb-contact","category":"Liquify","blocks":[]}]} {% endschema %}