<div class="social-feed-mockup-info"><div class="social-feed-mockup-account-details"><div class="div-block-28"><div class="div-block-27"><div class="social-profile-photo"><img loading="lazy" alt="{{ section.settings.image_profile_photo.alt }}" src="{{ section.settings.image_profile_photo | img_url: 'master' }}" class="image-7">
</div></div></div><div class="div-block-26 standard"><div class="social-feed-mockup-text bold">
{{ section.settings.text_handle }}
</div>
</div></div><a href="{{ section.settings.url_button_link }}" class="social-feed-mockup-follow-us w-inline-block"> <img loading="lazy" src="{{ 'heart-icon.svg' | asset_url }}" alt="" class="image-6"><div class="social-feed-mockup-text">{{ section.settings.text_button_text }}</div> </a>
</div><div class="social-feed-mockup-slider-wrapper"><div class="social-feed-mockup-slider"><div class="social-feed-mockup-tile"><a href="{{ section.settings.url_button_link }}" target="_blank" class="link-block-5 w-inline-block"> <img src="{{ section.settings.image_image_1 | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_image_1.alt }}" class="social-feed-image"> </a>
<div class="div-block-26-copy"><div><div class="social-feed-mockup-text bold small">
{{ section.settings.text_handle }}
</div>
</div><img loading="lazy" src="{{ 'instagram-logo-outline.svg' | asset_url }}" alt="" class="instagram-icon">
</div></div><div class="social-feed-mockup-tile"><a href="{{ section.settings.url_button_link }}" target="_blank" class="link-block-5 w-inline-block"> <img src="{{ section.settings.image_image_2 | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_image_2.alt }}" class="social-feed-image"> </a>
<div class="div-block-26-copy"><div><div class="social-feed-mockup-text bold small">
{{ section.settings.text_handle }}
</div>
</div><img loading="lazy" src="{{ 'instagram-logo-outline.svg' | asset_url }}" alt="" class="instagram-icon">
</div></div><div class="social-feed-mockup-tile"><a href="{{ section.settings.url_button_link }}" target="_blank" class="link-block-5 w-inline-block"> <img src="{{ section.settings.image_image_3 | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_image_3.alt }}" class="social-feed-image"> </a>
<div class="div-block-26-copy"><div><div class="social-feed-mockup-text bold small">
{{ section.settings.text_handle }}
</div>
</div><img loading="lazy" src="{{ 'instagram-logo-outline.svg' | asset_url }}" alt="" class="instagram-icon">
</div></div><div class="social-feed-mockup-tile"><a href="{{ section.settings.url_button_link }}" target="_blank" class="link-block-5 w-inline-block"> <img src="{{ section.settings.image_image_4 | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_image_4.alt }}" class="social-feed-image"> </a>
<div class="div-block-26-copy"><div><div class="social-feed-mockup-text bold small">
{{ section.settings.text_handle }}
</div>
</div><img loading="lazy" src="{{ 'instagram-logo-outline.svg' | asset_url }}" alt="" class="instagram-icon">
</div></div></div></div> {% schema %} {"tag":"section","name":"gb-social-highlights","class":"social-feed-mockup","settings":[{"id":"image_profile_photo","type":"image_picker","label":"Profile Photo"},{"id":"text_handle","type":"text","label":"Handle","default":"gridbasedotnet"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Join Our Community"},{"id":"image_image_1","type":"image_picker","label":"Image 1"},{"id":"image_image_2","type":"image_picker","label":"Image 2"},{"id":"image_image_3","type":"image_picker","label":"Image 3"},{"id":"image_image_4","type":"image_picker","label":"Image 4"}],"presets":[{"name":"gb-social-highlights","category":"Liquify","blocks":[]}]} {% endschema %}